<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gesture Control</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<div class="container module-page">

    <h1 style="color: white;">Gesture Control</h1>

    <p style="color: white;">
        Use hand gestures to control your system in real time.
    </p>

    <div class="controls">
        <button onclick="startControl()">
            Start Control
        </button>

        <button onclick="stopControl()">
            Stop Control
        </button>

        <button onclick="window.location.href='/dashboard'">
            Dashboard
        </button>
    </div>

</div>

<script>
function startControl(){
    fetch("/start_control");
}

function stopControl(){
    fetch("/stop_control");
}
</script>

</body>
</html>