<!DOCTYPE html>
<html>

<head>
    <title>Gesture AI Platform</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>

<div class="container">

    <h1 style="color: white;">Gesture Platform</h1>

    <div class="top-row">
    <a href="/gesture"><button>Gesture Prediction</button></a>

    <a href="/control"><button>Gesture Control</button></a>

    <a href="/mouse"><button>Virtual Mouse</button></a>
</div>

<div class="bottom-row">
    <a href="/sign"><button>Sign Language</button></a>

    <a href="/presentation"><button>Air Pen</button></a>
</div>

</div>

</body>
</html>